<%= stylesheet_link_tag "formstyle.css" %>

<form action="/places/create">

<div>
Title <br>
<input name="title" class="form">
</div>

<div>
Photo URL <br>
<input name="photo_url" class="form">
</div>

<div>
Admission Price <br>
<input name="admission_price" class="form">
</div>

<div>
Description <br>
<textarea name="description" class="descriptionBox"></textarea>
</div>

<br>
<button>Submit</button>

</form>